{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Ecoe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>
{% endblock%}

{% block scripts %}
    {{ super() }}

    <script>
        function deleteArea(ecoe, area) {
            var delete_url = "{{ url_for('.areas', id_ecoe='.ecoe.', id_area='.area.') }}"
                .replace('.ecoe.', ecoe)
                .replace('.area.', area);

            $.ajax({
                url: delete_url,
                type: 'DELETE',
                success: function() {
                    $('#item'+area).remove();
                }
            });
        }

        function editArea(ecoe, area) {
            var edit_url = "{{ url_for('.areas', id_ecoe='.ecoe.', id_area='.area.', name='.name.') }}"
                .replace('.ecoe.', ecoe)
                .replace('.area.', area)
                .replace('.name.', $('#name_area'+area).val());

            console.log(edit_url);
            $.ajax({
                url: edit_url,
                type: 'PATCH',
                success: function(result) {
                    console.log();
                }
            });
        }
    </script>
{% endblock %}
