{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Ecoe</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </nav>
{% endblock%}

{% block scripts %}
    {{ super() }}

    <script>
        function deleteItem(model, id_item) {
            var delete_url = "{{ url_for('.delete_item', model='.model.', id_item='.id_item.') }}"
                .replace('.model.', model)
                .replace('.id_item.', id_item);

            $.ajax({
                url: delete_url,
                type: 'DELETE',
                success: function() {
                    $('#item'+id_item).remove();
                }
            });
        }

        function editItem(model, id_item) {
            var edit_url = "{{ url_for('.edit_item', model='.model.', id_item='.id_item.', name='.name.') }}"
                .replace('.model.', model)
                .replace('.id_item.', id_item)
                .replace('.name.', $('#input_name'+id_item).val());

            $.ajax({
                url: edit_url,
                type: 'PATCH',
                success: function(result) {
                    {#console.log(result);#}
                }
            });
        }
        
        function showInputTag() {
            
        }

        function showQblocks(id_ecoe, id_station) {
            var qblocks_url = "{{ url_for('.get_qblocks', id_ecoe='.ecoe.', id_station='.station.') }}"
                .replace('.ecoe.', id_ecoe)
                .replace('.station.', id_station);

            $.get(qblocks_url, function (data) {
                var station_group = $('#stationGroup'+id_station);
                //station_group.empty();
                //if (station_group.is(':empty')) {
                    station_group.append(data);
                //}
                station_group.collapse('toggle');
            });
        }

        function showOptions(id_question) {
            var options_url = "{{ url_for('.get_options', id_question='.question.') }}"
                .replace('.question.', id_question);

            $.get(options_url, function (data) {
                var question_group = $('#questionGroup'+id_question);

                //if (question_group.is(':empty')) {
                    question_group.append(data);
                //}

                question_group.collapse('toggle');
            });
        }
    </script>
{% endblock %}
