{% extends "app_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

    <div class="container">

        <form class="form form-horizontal" method="post" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="ecoe" id="ecoe">

            <label for="station">Estación</label>
            <select class="custom-select" id="station">
                <option value="1">1</option>
                <option value="1">2</option>
            </select>

        </form>

        <table class="table table-responsive table-sm">
            <thead>
                <tr>
                    {% for name in data.fieldnames %}
                        <th scope="col">{{ name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {#% for row in data|sort(reverse=True,attribute='Orden') %#}
                {% for row in data %}
                    <tr>
                        <td>{{row['Orden']}}</td>
                        <td>{{row['Literal']}}</td>
                        <td>{{row['Ref']}}</td>
                        <td>{{row['Puntos']}}</td>
                        <td>{{row['Área']}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
