{% extends "base.html" %}
{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-sm-12 text-center">
                <a id="start" href="#" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Iniciar todo</a>
                <a id="pauseall" href="#" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">Parar todo</a>
            </div>
        </div>

        {% for r in rounds %}

            <div class="row">
                <div class="col-sm-1"><a id="play{{ r['id'] }}" href="#" class="btn btn-primary btn-lg active" role="link" aria-pressed="true">Play</a></div>
                <div class="col-sm-1"><a id="pause{{ r['id'] }}" href="#" class="btn btn-warning btn-lg active" role="link" aria-pressed="true">Pause</a></div>

                <div class="col-sm-10"><h2>Rueda {{ r['id'] }} (vuelta <span id="vuelta{{ r['id'] }}"></span>): <span id="clock{{ r['id'] }}">--:--</span></h2></div>

            </div>

        {% endfor %}

    </div>

{% endblock %}


{% block scripts %}
    {{ super() }}

    <script type='text/javascript' src="{{ url_for('static', filename='js/socket.io.min.js') }}" ></script>

    <script>

        $(document).ready(function() {

            $("#start").click(function (event) {
                    event.preventDefault();

                    $.ajax({
                        url: '{{ actions_url['start'] }}',

                        success: function(res) {
                            console.log(res)
                        }
                    });
            });

            $("#pauseall").click(function (event) {
                    event.preventDefault();

                    $.ajax({
                        url: '{{ actions_url['pause'] }}',

                        success: function(res) {
                            console.log(res)
                        }
                    });

            });

            {% for r in rounds %}

                var socket{{ r['id'] }} = io.connect('{{ r['chrono_route'] }}');

                socket{{ r['id'] }}.on('connect', function () {
                    console.log('Conectado para monitorizacion de rueda {{ r['id'] }}')
                });

                socket{{ r['id'] }}.on('end_round', function(msg) {
                    $('#clock{{ r['id'] }}').css("color", "green");
                    console.log(msg.data);
                });

                socket{{ r['id'] }}.on('init_stage', function(msg) {
                    $('#clock{{ r['id'] }}').fadeOut('fast').fadeIn('fast', function () {
                        $('#vuelta{{ r['id'] }}').text(msg.num_rerun);
                    });
                });

                socket{{ r['id'] }}.on('tic_tac', function(msg) {
                    $('#clock{{ r['id'] }}').text(msg.stage + " " + msg.minutes + ":" + msg.seconds);

                    if (msg.stopped == 'S') {
                        $('#clock{{ r['id'] }}').css("color", "red");
                        console.log("[" + msg.minutes + ":" + msg.seconds + "] Crono parado");
                    }
                    else
                        $('#clock{{ r['id'] }}').css("color", "black");
                });

                $("#play{{ r['id'] }}").click(function (event) {
                    event.preventDefault();

                    $.ajax({
                        url: '{{ actions_url['play'] }}/{{ r['id'] }}',

                        success: function(res) {
                            console.log(res);
                        }
                    });

                });

                $("#pause{{ r['id'] }}").click(function (event) {
                    event.preventDefault();

                    $.ajax({
                        url: '{{ actions_url['pause'] }}/{{ r['id'] }}',

                        success: function(res) {
                            console.log(res)
                        }
                    });

                });

            {% endfor %}
        });

    </script>
{% endblock %}
