{% extends "app_base.html" %}
{% from 'macros/common.html' import ajax_setup %}

{% block content %}

    <!-- modal for warnings to the user -->
    <div class="modal fade" id="info_warnings" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Información</h4>
          </div>
          <div class="modal-body">
            <p id="mymessage"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="container">



        <div class="col-xs-12 col-md-4">
            <button id="start" class="btn btn-success btn-lg btn-block">Iniciar</button>
            <p>
            <div class="btn-group">
                <button id="pauseall" class="btn btn-warning btn-lg">Pausar todo</button>
                <button id="playall" class="btn btn-primary btn-lg">Continuar todo</button>
            </div>
            </p>
        </div>

        <div class="col-xs-12 col-md-1-offset col-md-7">
        {% for r in rounds %}
                <h2>Rueda {{ r['id'] }} (vuelta <span id="vuelta{{ r['id'] }}"></span>)</h2>
                <h2 id="clock{{ r['id'] }}">--:--</h2>
                <div class="btn-group">
                    <button type="button" id="pause{{ r['id'] }}" class="btn btn-warning">Pausar
                    </button>
                    <button type="button" id="play{{ r['id'] }}" class="btn btn-primary">Continuar
                    </button>
                </div>
        {% endfor %}
        </div>

    </div>
    {{ super() }}
{% endblock %}


{% block scripts %}
    {{ super() }}

    <script type='text/javascript' src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>

    <script>

        $(document).ready(function () {

            {{ ajax_setup() }}

            $("#start").click(function (event) {

                $.ajax({
                    url: "{{ url_for('.start_chronos', id_ecoe=id_ecoe) }}",
                    type: 'POST',
                    success: function (res) {
                        console.log(res)
                    },
                    error: function(xhr, status, error) {
                        $('#mymessage').html(xhr.responseText);
                        $('#info_warnings').modal('show');
                    }
                });
            });

            $("#pauseall").click(function (event) {

                $.ajax({
                    url: "{{ url_for('.manage_chronos', id_ecoe=id_ecoe, action='pause') }}",
                    type: 'POST',
                    success: function (res) {
                        console.log(res)
                    },
                    error: function(xhr, status, error) {
                        $('#mymessage').html(xhr.responseText);
                        $('#info_warnings').modal('show');
                    }
                });

            });

            $("#playall").click(function (event) {

                $.ajax({
                    url: "{{ url_for('.manage_chronos', id_ecoe=id_ecoe, action='play') }}",
                    type: 'POST',
                    success: function (res) {
                        console.log(res)
                    },
                    error: function(xhr, status, error) {
                        $('#mymessage').html(xhr.responseText);
                        $('#info_warnings').modal('show');
                    }
                });
            });

            {% for r in rounds %}

                var socket{{ r['id'] }} = io.connect('{{ r['chrono_route'] }}');

                socket{{ r['id'] }}.on('connect', function () {
                    console.log('Conectado para monitorizacion de rueda {{ r['id'] }}')
                });

                socket{{ r['id'] }}.on('end_round', function (msg) {
                    $('#clock{{ r['id'] }}').css("color", "green");
                    console.log(msg.data);
                });

                socket{{ r['id'] }}.on('init_stage', function (msg) {
                    $('#clock{{ r['id'] }}').fadeOut('fast').fadeIn('fast', function () {
                        $('#vuelta{{ r['id'] }}').text(msg.num_rerun);
                    });
                });

                socket{{ r.id }}.on('aborted', function (msg) {
                    $('#clock{{ r.id }}').css("color", "red");
                    $('#clock{{ r.id }}').text("EVALUACIÓN ABORTADA");
                });

                socket{{ r['id'] }}.on('tic_tac', function (msg) {
                    $('#clock{{ r['id'] }}').text(msg.stage + " " + msg.minutes + ":" + msg.seconds);

                    if (msg.stopped == 'S') {
                        $('#clock{{ r['id'] }}').css("color", "red");
                        console.log("[" + msg.minutes + ":" + msg.seconds + "] Crono parado");
                    }
                    else
                        $('#clock{{ r['id'] }}').css("color", "black");
                });

                $("#play{{ r['id'] }}").click(function (event) {

                    $.ajax({
                        url: "{{ url_for('.manage_chronos', id_ecoe=id_ecoe, action='play', round_id=r['id']) }}",
                        type: 'POST',
                        success: function (res) {
                            console.log(res)
                        },
                        error: function(xhr, status, error) {
                            $('#mymessage').html(xhr.responseText);
                            $('#info_warnings').modal('show');
                        }
                    });

                });

                $("#pause{{ r['id'] }}").click(function (event) {

                    $.ajax({
                        url: "{{ url_for('.manage_chronos', id_ecoe=id_ecoe, action='pause', round_id=r['id']) }}",
                        type: 'POST',
                        success: function (res) {
                            console.log(res)
                        },
                        error: function(xhr, status, error) {
                            $('#mymessage').html(xhr.responseText);
                            $('#info_warnings').modal('show');
                        }
                    });

                });

            {% endfor %}
        });

    </script>
{% endblock %}
