{% macro info_chrono_station() %}
    <div><h1 id="clock">--:--</h1></div>

    <audio class="audios" id="myaudio" controls preload="none">
       <source src="" type="audio/mpeg">
    </audio>
{% endmacro %}

{% macro info_chrono_admin(rounds) %}

    {% for r in rounds %}
        <div><h1>Rueda {{ r.id }} (vuelta <span id="vuelta{{ r.id }}"></span>): <span id="clock{{ r.id }}">--:--</span></h1></div>
    {% endfor %}

{% endmacro %}

{% macro client_eval_socket(chrono_route, station_id, id_round) %}

    $('#myaudio').hide();

    /*** SOCKETS ***/

    var socket = io.connect('{{ chrono_route }}');

    socket.on('connect', function () {
        console.log('Estación {{ station_id }}: conectada a rueda {{ id_round }}')
    });

    socket.on('end_round', function(msg) {
        $('#clock').css("color", "green").show('slow');
        console.log(msg.data)
    });

    socket.on('init_stage', function(msg) {
        $('#clock').fadeOut('fast').fadeIn('fast');
    });

    socket.on('evento', function(msg) {
        if (jQuery.inArray({{ station_id }}+"", msg.target.split(",")) >= 0) {
            console.log("[" + msg.stage.fase + "] " + msg.data + " => " + msg.target)
            $("#myaudio").attr('src', '{{ url_for('static', filename='sounds/') }}'+msg.sound)
            $('#myaudio').trigger('play');
        }
    });

    socket.on('aborted', function(msg) {
        $('#clock').css("color", "red");
        $('#clock').text("EVALUACIÓN ABORTADA");
    });

    socket.on('tic_tac', function(msg) {
        $('#clock').text(msg.stage.fase + " " + msg.minutes + ":" + msg.seconds);

        if (msg.stopped == 'S') {
            $('#clock').css("color", "red");
            console.log("[" + msg.minutes + ":" + msg.seconds + "] Crono parado");
        }
        else
            $('#clock').css("color", "black");
    });

    /*** END SOCKETS ***/
{% endmacro %}

{% macro make_dropdown(options, id_dropdown, labelText, labelIcon=none, classColor='btn-warning', disabled=False) %}

    <div class="dropdown">
        <button class="btn {{ classColor }} dropdown-toggle" id="{{ id_dropdown }}" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {% if disabled %} disabled {% endif %}>
            {% if labelIcon %}
            <i class="fa fa-{{ labelIcon }}-o" aria-hidden="true"></i>&nbsp;&nbsp;
            {% endif %}
            {{ labelText }}
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
            {% for option in options %}
                {% if option.id == '__divider__' %}
                    <li role="separator" class="divider"></li>
                {% else %}
                    <li>
                        <a id="{{ option.id }}" href="#">
                        {% if option.icon %}
                        <i class="fa fa-{{ option.icon }}-o" aria-hidden="true"></i>&nbsp;&nbsp;
                        {% endif %}
                        {{ option.description }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endmacro %}

{% macro make_dropdown_selected(options, id_dropdown='dd_selected') %}
    {{ make_dropdown(options, id_dropdown, 'Seleccionados', 'check-square', disabled=True) }}
{% endmacro %}

{% macro enable_disable_dropdown_selected(id_form, name, type='checkbox', id_dropdown='dd_selected') %}

    $("#{{ id_form }} input[type={{ type }}][name={{ name }}]").change(function () {
        if (this.checked)
            $('#{{ id_dropdown }}').attr('disabled', false);
        else if ($("#{{ id_form }} input[type={{ type }}][name={{ name }}]:checked").length == 0)
            $('#{{ id_dropdown }}').attr('disabled', true);
    });

{% endmacro %}

