{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
    {{ super() }}
    {{ moment.include_jquery(local_js=url_for('static', filename='js/jquery-3.3.1.min.js')) }}
    {{ moment.include_moment(local_js=url_for('static', filename='js/moment.min.js')) }}
    {{ moment.locale(auto_detect=True) }}
{% endblock %}

{% block scripts %}
    <script type='text/javascript' src="{{ url_for('static', filename='js/bootstrap-toggle.min.js') }}"></script>
{% endblock %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet"
          href="{{url_for('static', filename='css/bootstrap-toggle.min.css')}}">
    <link rel="stylesheet"
          href="{{url_for('static', filename='css/custom.css')}}">
{% endblock %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock%}

{%- block content %}
{{super()}}
{%- block footer %}
{% include "footer.html" %}
{%- endblock footer %}
{%- endblock content %}
